body {
	box-sizing: border-box;
	margin: 0;
	font-family: Roboto, Oxygen, Ubuntu, 'Open Sans', sans-serif;
	font-size: 16px;
}

form {
	height: 100%;
	margin: 0;
}

#editorForm {
	position: relative;
	display: grid;
	grid-template-columns: 400px 1fr;
}

.settingsInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1em;
	background-color: #111;
	color: white;
}

.settingsInfo a {
	color: deepskyblue;
	text-decoration: none;
}

#showExample ~ #example {
	display: none;
}

#showExample:checked ~ #example {
	display: block;
}

pre {
	color: lightgreen;
	margin-right: 1ch;
}

button {
	padding: 0.5em 2em;
	font-size: large;
	font-weight: bold;
	background-color: green;
	color: white;
	border: #000c solid 1px;
	box-shadow: 0 0 0.5em 0 #000c;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: forestgreen;
}

#copyButton {
	background-color: dodgerblue;
	padding-inline: 1em;
}

#copyButton:hover {
	background-color: deepskyblue;
}

.buttons {
	position: fixed;
	top: 0.5ch;
	right: 0.5ch;
}

h1 {
	font-size: 3em;
}

.hidden {
	opacity: 0;
	position: absolute;
	top: -200vmax;
	left: -200vmax;
}
.jsoneditor {
	border: none;
}

.jsoneditor-menu {
	background-color: #333;
}

aside {
	color: silver;
	border-top: solid 1px #444;
}

